@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Creepster", cursive;
}

body {
  background-color: #01b1ca;
}

.mask1 {
  -webkit-mask-image: linear-gradient(to top, transparent 4%, black 55%);
  mask-image: linear-gradient(to top, transparent 4%, black 55%);
}


.mask2 {
  -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 10%);
  mask-image: linear-gradient(to top, transparent 4%, black 55%);
}